{% extends "base.html" %}

{% block title %}Home - FindPoint{% endblock %}

{% set page_title = _("Hi ") ~ current_user.username ~ _("! Let's choose a city") %}

{% block header %}
{{ page_title }}
{% endblock %}

{% block content %}
<style>
    .d-flex {
        margin-left: 1cm; /* Mueve el texto 2 cm hacia la derecha */
    }
</style>

<div class="container">
    <div class="row justify-content-center mt-4"> <!-- Añadido mt-4 para margen superior -->
        <!-- Formulario para seleccionar Barcelona -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm square-card visit mx-auto animated-border-5">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <form method="POST" action="{{ url_for('choose_city') }}">
                        <input type="hidden" name="city" value="Barcelona">
                        <button type="submit" class="btn btn-custom btn-lg">BCN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4"> <!-- Añadido mt-4 para margen superior -->
        <!-- Formulario para seleccionar Madrid -->
        <div class="col-md-4 mb-4">
            <div class="card_mad shadow-sm square-card visit mx-auto animated-border-6">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <form method="POST" action="{{ url_for('choose_city') }}">
                        <input type="hidden" name="city" value="Madrid">
                        <button type="submit" class="btn btn-custom btn-lg">MAD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4"> <!-- Añadido mt-4 para margen superior -->
        <!-- Formulario para seleccionar Valencia -->
        <div class="col-md-4 mb-4">
            <div class="card_val shadow-sm square-card visit mx-auto animated-border-7">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <form method="POST" action="{{ url_for('choose_city') }}">
                        <input type="hidden" name="city" value="Valencia">
                        <button type="submit" class="btn btn-custom btn-lg">VAL</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4"> <!-- Añadido mt-4 para margen superior -->
        <!-- Formulario para seleccionar Sevilla -->
        <div class="col-md-4 mb-4">
            <div class="card_sev shadow-sm square-card visit mx-auto animated-border-8">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <form method="POST" action="{{ url_for('choose_city') }}">
                        <input type="hidden" name="city" value="Sevilla">
                        <button type="submit" class="btn btn-custom btn-lg">SEV</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}